#root {
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.m0 {
  margin: 0!important;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}
.submit-button {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  border: none;
  padding: 6px 19px;
  border-radius: 4px;
}
.voucher-container {
  position: relative;
  background: white;
  padding: 20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
}

.voucher-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .voucher-header img.logo {
  height: 50px;
} */

/* .filterImage {
  height: 50px;
} */


.voucher-info {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.voucher-info .form-group {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #4b4b4b;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input:focus {
  outline: 1px solid blueviolet;
}

.amount-details {
  margin-bottom: 30px;
}

.amount-details label {
  color: #4b4b4b;
}

.amount-inputs {
  display: flex;
  gap: 10px;
}

.amount-inputs input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.signatures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: #4b4b4b;
}

.signature {
  flex: 1;
  min-width: 150px;
  margin-bottom: 15px;
}

.signature label {
  display: block;
  margin-bottom: 5px;
}

.signature input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#filterImageContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 100px;
  margin: 10px 0;
}

#filterImage {
  object-fit: contain;
  width: 150px;
  height: auto;
  display: none;
}
.input#data{
  height: 15px;
  
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  padding: 4px 8px;
}

select:focus-visible {
  outline: 1px solid blueviolet;
  border: none;
}


.wrapper {
  display: flex;
  justify-content: space-between;

}

input[type="date"] {
  padding: 7px!important;
  width: 150px!important;
}


@media only screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
  .submit-button {
    font-size: 16px;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
  }
  .voucher-info {
    justify-content: flex-start;
  }
}